{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="main-content-inner">
        <div class="row">

            <div class="offset-lg-2 col-lg-8 mt-7">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Template<a href="{{ path('admin_template_settings' , {'id' : id }) }}" ><i class="fa fa-plus-circle"></i></a></h4>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
            <!-- table success end -->
            <!-- table info start -->

        </div>
    </div>
{% endblock %}
