{% extends 'base.html.twig' %}

{% block title %}Edit TemplatesDescription{% endblock %}

{% block body %}
    <h1>Edit TemplatesDescription</h1>

    {{ include('templates_description/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('templates_description_index') }}">back to list</a>

    {{ include('templates_description/_delete_form.html.twig') }}
{% endblock %}
